$skintone:pink;

:local(.styles) {

  div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .rightEyeBall.isEyeBall,.leftEyeBall.isEyeBall,.rightEye .eyebg,.leftEye .eyebg{
      &.eye01{
        -webkit-mask-image: url('/assets/eye01.svg');
      }
      &.eye02{
        -webkit-mask-image: url('/assets/eye02.svg');
      }
      -webkit-mask-size:100% 100%;
  }

  .element-wrapper{
    overflow: visible;
    pointer-events: none;
    &.face{
      margin:0 auto;
      position: absolute;
    }
    &.rightEar{
        transform: rotateY(180deg);
      }
    .element-scale{
      pointer-events: none;
      // make the assets twice as big to render more pixels for scaling.
      .element-supersize{
        width:200%;
        height:200%;
        margin-left: -50%;
        margin-top: -50%;
        position:absolute;
        top:0;
        left:0;
      }
    }

    .element-holder{
      pointer-events: all;
      &.face,&.faceOver{
        pointer-events: none;
      }
      svg.icon.face{
        fill:$skintone;
      }
    }

    &.child-element{
      .element-scale, .element-rotateX, .element-rotateY, .element-rotateZ{
        perspective: 400px;
      }

      .element-holder{
        // pointer-events: all;
        // cursor:pointer;
        background: none;
        left: -50%;

        .rightEyeBall,.leftEyeBall{
          left:0;
        }

        .element-scale{
          z-index: 2;
          position: absolute;
          width:100%;
          height:100%;

          .skin{
            position: absolute;
            top:0;
            left:0;
            fill:$skintone;
            z-index: 1;
            width:104%;
            height:104%;
            margin-top:-2%;
            margin-left:-2%;
          }

          .icon.eye,.icon.ear{
            z-index: 2;
            position: relative;
            width:104%;
            height:104%;
            margin-top:-2%;
            margin-left:-2%;
          }
          .icon.eyeLid{
            z-index: 1;
            position: absolute;
            fill:darken($skintone,30%);
            top:0;
            left:0;
            transform-origin: 0% 0%;
            transform:scale(1,0);
          }
        /*  &.leftEye,&.rightEye,{
            outline-color: $skintone;
            outline-style: solid;
            outline-width: 0em;
            outline-offset: 0;
          }*/

        }

        &.rightEyeBall,&.leftEyeBall{
          background-size: cover;
        }

        &.rightEye,&.leftEye{
          background-size: cover;
          // -webkit-mask-image: url('/assets/eye01.svg');
          // -webkit-mask-size:100% 100%;
          // -webkit-mask-position: 57%;

          svg.icon.leftEye,svg.icon.rightEye{
            z-index: 2;
            position:relative;
          }
        }

        .rightEyeBall, .leftEyeBall{
          z-index: 0;

        }

        #skin-tone{
          // stroke:#b52808;
          // stroke-width:.5;
        }
      }

      .element-rotateX, .element-rotateY, .element-rotateZ{
        transform: rotate(0deg);
        transform-origin: 0% 50%;
      }

      //ear's origin are along the inner side. these styles account for that.
      &.leftEar,&.rightEar{
        .element-holder{
          left:0;
        }
        .element-rotateX, .element-rotateY, .element-rotateZ{
          transform-origin: 100% 50%;
        }
      }

      /* all elements that need to be flipped 180 deg
      and scaled from the center*/
      .rightEye,.rightBrow{
        &.element-rotateY{
          transform: rotateY(180deg);
          // transform-origin: 0% 50%;
        }
        .rightEyeBall,.leftEyeBall{
          left:0;
          &.element-rotateY{
          }
        }
      }
    }
  }
}
