$skintone:lightblue;
:local(.styles) {

  div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .element-wrapper{
    overflow: visible;
    &.main-element{
      // pointer-events: none;
    }

    &.child-element{
      .element-scale, .element-rotateX, .element-rotateY, .element-rotateZ{
        // transform-origin: 0% 50%;
        perspective: 400px;
      }
      .element-holder{
        pointer-events: all;
        cursor:pointer;
        // z-index: 100;
      }
    }

    .element-scale{
      transform: scale(1);
      // transition: transform .5s;
    }
    .element-rotateX, .element-rotateY, .element-rotateZ{
      transform: rotate(0deg);
      // transition: transform 1s;

    }
    .element-rotateY{
      // transition: transform .5s;
    }
    .element-rotateY{
      // transition: transform 2s;
    }
    &.s{
        .element-scale{transform: scale(1.4);}
    }
    &.rx{
        .element-rotateX{transform: rotateX(45deg);}
    }
    &.ry{
        .element-rotateY{transform: rotateY(130deg);}
    }
    &.rz{
        .element-rotateZ{transform: rotateZ(180deg);}
    }


    .element-holder{
      // position:relative;
      // width:100%;
      // height:100%;
      svg.icon.face{
        fill:$skintone;
      }
      
    }
    &.child-element{
      .element-holder{
        background: none;//black;
        left: -50%;
        // top:-50%;
        /*svg:first-child{
          left:0; top:0; width:100%; height:100%;position:absolute;
        }*/&.leftEye{
        // transform:translateY(5px);
      }

        .element-scale{
          z-index: 2;
          position: relative;
          // transform: scale(.25);
          &.rightEyeBall,&.leftEyeBall{
            background: white;
          }
          &.leftEye,&.rightEye{

            outline: 10px solid $skintone;
            outline-offset: 0;
            &:before{
              content:'';
              width:100%;height: 50%;
              position: absolute;
              background: $skintone;
              top:-50%;
              left:0;
            }
            &:after{
              content:'';
              width:100%;height: 50%;
              position: absolute;
              background: $skintone;
              top:100%;
              left:0;
            }
          }
          &.leftEye{
            // transform: scale(1,.7);
          }
        }
        &.rightEyeBall,&.leftEyeBall{
          border-radius:50%;
          background: none;// url('/assets/eyeball.png');
          background-size: cover;

        }

        &.rightEye,&.leftEye{
          // background: url('/assets/eye.png');
          background-size: cover;
          // overflow: hidden;
          svg.icon.leftEye,svg.icon.rightEye{
            z-index: 2;
            position:relative;
          }
          .eyeMask{
            position: absolute;
            top:0;
            left:0;
            fill:$skintone;
            z-index: 1;
          }
          // svg{fill:black;stroke:pink;stroke-width:10px;}

          //svg path:first-child{fill:$skintone;}

        }
        .rightEyeBall, .leftEyeBall{
          z-index: 0;
        }

      #skin-tone{
        stroke:#b52808;
        stroke-width:.5;
      }
      }
    }
  }

}
