:local(.styles) {
  .av-ac-main{
    color:white;
    position: absolute;
    width: 100%;
    height: 200px;
    background: gray;
    bottom: 0;
    .element-controls-wrapper{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      div{

      }
    }
  }
}
