:local(.styles) {
  width:100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;

  .av-ke-main{
    width:200px;
    height:200px;
    position: relative;
  }

  .element-wrapper{
    .element-scale, .element-rotateX, .element-rotateY, .element-rotateZ{
      // transform-origin: 50% 50%;
      perspective: 400px;
    }
    .element-holder{
      background: lightgreen;
      left: 0%;
      top:0%;
    }
  }
}
