:local(.styles) {
  width: 100%;
  height: 45vh;
  .buildHolder{
    //display:none;//temp hide
    color:white;
    position: relative;
    width: 100%;
    height: 100%;
    background: gray;
    text-align: center;
    padding-top: 10px;
    .build-menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1em;
      .build-nav{
        color:white;
      }
      .build-prev{

      }
      .panel-title{
        font-weight: bold;
        text-transform: uppercase;
        cursor:default;
        font-size:.95em;
      }
      .build-next{

      }
    }
    .grid-holder{
      width: 100%;
      max-width: 475px;
      height:200px;
      margin: 10px auto 0;
    }
  }
}
