:local(.styles) {

  .element-controls{
    // position:absolute;
    width: 120px;
    right: 0;
    top: 0;
    border: 1px solid black;
    background: gray;
    height:auto;
    color:white;
    text-align: center;
    text-transform: uppercase;
    button{
      color:blue;
    }
    &.active{
      border:2px solid yellow;
    }
  }
}
